body {
  margin: 0 auto;
  max-width: 1600px;
  font-family: sans-serif;
}

body a {
  text-decoration: none;
}

.header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: white 5px solid;
  margin-bottom: -20px;

}

.header img {
  width: 100%;
}

.menu {
  margin: auto 0;
  background-color: #828282;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: -20px;

}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.menu ul a {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  color: #0a254c;
  text-align: center;
  padding: 10px 40px;
  border-left: 1px solid white;
}

.menu ul a:hover {
  color: white;
  background-color: #0a254c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.content {
  width: 100%;
  margin: auto 0;
  background-color: #e3e3e3;
}

.content .page {
  padding: 30px;
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content .page img{
  margin: 0 auto;
display: block;
  width: 60%;
}
.content .page button{
  cursor: pointer;
    width: 200px;
    border: none;
    background: #0a254c;
    color: #FFF;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;

}

@media screen and (max-width:600px) {}
